:root {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  padding: 20px;
  margin-block: 0;
  margin-inline: auto;
}

h1 {
  margin-block: 1rem;
  margin-inline: auto;
  max-width: 14rem;
  line-height: 1.1;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

button {
  cursor: pointer;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
