* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 28px;
  max-width: min(1000px, 100vw);
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-block: 0.83em;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-block: 1em;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding-block: 1px;
  padding-inline: 2px;
}

textarea {
  padding-block: 2px;
  padding-inline: 2px;
  font-family: sans-serif;
}

button {
  margin-inline-start: 10px;
  padding-block: 1px;
  padding-inline: 6px;
}

.loading {
  position: fixed;
  padding: 5px;
  left: 20px;
  top: 10px;
  background-color: white;
  border-radius: 4px;
}

.fa-icon {
  vertical-align: middle;
}

// svelecte

.svelecte-control {
  .highlight {
    background-color: unset;
    font-weight: bold;
  }

  .sv-control.is-active {
    box-shadow: 0 0 0 1px #015fcc;
  }
}
