@use 'src/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Arial", sans-serif;
  font-size: 16px;

  --error-background-color: #f8d7da;
  --error-border-color: #f5c6cb;
  --error-color: #721c24;
  --item-sep: 20px;
  --light-gray: #e0e0e0;
  --lighter-gray: #e8e8e8;
  --success-background-color: #d4edda;
  --success-border-color: #c3e6cb;
  --success-color: #155724;
  --text-max-width: 1000px;
}

body {
  margin: 28px;
  max-width: min(1366px, 100vw);
}

a:link, a:visited, a:hover {
  color: #3232fa;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-block: 0.83em;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-block: 1em;
}

ul {
  list-style: none;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding-block: 1px;
  padding-inline: 2px;
}

textarea {
  padding-block: 2px;
  padding-inline: 2px;
  font-family: sans-serif;
}

button {
  padding-block: 2px;
  padding-inline: 6px;

  &.delete {
    margin-block-start: 3em;
    margin-inline-start: 0;
  }
}

form {
  @include button-right;
}

.loading {
  position: fixed;
  padding: 5px;
  left: 20px;
  top: 10px;
  background-color: white;
  border-radius: 4px;
}

.fa-icon {
  color: black;
  vertical-align: middle;
  margin-inline: 5px;
  &:hover {
    color: gray;
  }
  &.hidden {
    visibility: hidden;
  }
}

.notfound {
  font-style: italic;
  // margin-block: var(--item-sep);
  margin-block-start: var(--item-sep);
}

.borrowed {
  color: #dc143c; // crimson
  a {
    color: inherit;
  }
}

.inherited {
  color: #800080; // purple
  a {
    color: inherit;
  }
}

.mixed {
  color: #006400; // dark green
  a {
    color: inherit;
  }
}

.infix {
  font-weight: normal;
}

// svelecte

.svelecte {
  .highlight {
    background-color: unset;
    font-weight: bold;
  }

  .sv-control.is-active {
    box-shadow: 0 0 0 1px #015fcc;
  }

  .sv-control.is-disabled {
    flex-wrap: nowrap !important;
  }

  .sv-control:not(.is-active) {
    border: 1px solid #767676 !important;
  }

  .sv-dropdown {
    overflow-wrap: anywhere;

    .sv-item-content {
      white-space: normal;
      @include indent-small;
    }
  }

  &.svelecte-icons {
    .sv-control:not(.is-active) {
      border: none !important;
      outline: 1px solid #767676;
    }

    .sv-dropdown .sv-item-content {
      padding-inline-start: unset;
      text-indent: unset;
    }
  }
}

// leaflet

.leaflet-map {
  .marker {
    padding: 6px;
    width: max-content;
    max-width: 12em;
    line-height: 1.25;
    border: transparent;
    border-radius: 6px;
    white-space: unset;
  }

  .marker-small {
    font-size: 8px;
    padding-inline: 3px;
    padding-block: 0;
    width: max-content;
    max-width: 12em;
    border: transparent;
    border-radius: 3px;
    white-space: unset;
  }

  .leaflet-marker-icon > svg {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .leaflet-tooltip-top:before,
  .leaflet-tooltip-bottom:before,
  .leaflet-tooltip-left:before,
  .leaflet-tooltip-right:before {
    border: none;
  }

  .leaflet-div-icon {
    background: unset;
    border: unset;
  }
}

