$error_background_color: #f8d7da;
$error_border_color: #f5c6cb;
$error_color: #721c24;
$item_sep: 20px;
$light_gray: #e0e0e0;
$lighter_gray: #e8e8e8;
$success_background_color: #d4edda;
$success_border_color: #c3e6cb;
$success_color: #155724;

@mixin hr {
  hr {
    margin-block: $item_sep;
    block-size: 2px;
    background-color: black;
    border: none;
  }
}

@mixin contenteditable {
  [contenteditable="true"] {
    padding-inline: 6px;
    border: 0.25px solid #767676;
    border-radius: 1px;
    font-weight: normal;
  }
}

@mixin indent {
  padding-inline-start: 1em;
  text-indent: -1em;
}

@mixin indent-small {
  padding-inline-start: 0.75em;
  text-indent: -0.75em;
}

@mixin error_color {
  color: $error_color;
  background-color: $error_background_color;
  border-color: $error_border_color;
}

@mixin success_color {
  color: $success_color;
  background-color: $success_background_color;
  border-color: $success_border_color;
}

@mixin popover {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 8px gray;
  font-size: 14px;
}

@mixin button-left {
  button {
    margin-inline-end: 10px;
  }
}

@mixin button-right {
  button {
    margin-inline-start: 16px;
  }
}