@mixin hr {
  hr {
    margin-block: var(--item-sep);
    block-size: 2px;
    background-color: black;
    border: none;
  }
}

@mixin contenteditable {
  [contenteditable="true"] {
    padding-inline: 6px;
    border: 0.25px solid #767676;
    border-radius: 1px;
    font-weight: normal;
  }
}

@mixin indent {
  padding-inline-start: 1em;
  text-indent: -1em;
}

@mixin indent-small {
  padding-inline-start: 0.75em;
  text-indent: -0.75em;
}

@mixin error_color {
  color: var(--error-color);
  background-color: var(--error-background-color);
  border-color: var(--error-border-color);
}

@mixin success_color {
  color: var(--success-color);
  background-color: var(--success-background-color);
  border-color: var(--success-border-color);
}

@mixin popover {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 8px gray;
  font-size: 14px;
}

@mixin button-left {
  button {
    margin-inline-end: 10px;
  }
}

@mixin button-right {
  button {
    margin-inline-start: 16px;
  }
}